@model IEnumerable<CMS.Models.Repositories.Db.Role>

@{
    ViewBag.Title = "Index";
}



<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Roles Tables</h6>
    </div>
    <div class="card-body">
        <div class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <table class="table thead-dark" id="dataTable2">
                <thead>
                    <tr>
                        <th>
                            Role Name
                        </th>
                        <th></th>
                    </tr>
                </thead>

                <tfoot>
                    <tr>
                        <th>
                            Role Name
                        </th>
                        <th>Action</th>
                    </tr>
                </tfoot>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.RoleName)
                        </td>
                        <td>
                            <a class="btn btn-outline-info">Edit</a>
                            <a class="btn btn-outline-danger fa fa-trash">Remove</a>
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>

@section scripts{

    <link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="cdn.datatables.net/1.11.1/css/jquery.dataTables.min.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-3.4.1.min.js" type="text/javascript"></script>
    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>

    <script>

        $(function () {

           
        });

        $(document).ready(function () {
            $('#dataTable2').DataTable();
        });


    </script>


}
