
@{
    ViewBag.Title = "SettingsOne";
}

<h2>Personal Details</h2>
<div class="row">

    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            <h6><strong><a href="~/UserTitle/AddUserTitle">User Title</a></strong></h6>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fa fa-building fa-2x" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            <h6><strong><a href="~/Gender/Gender">Gender</a></strong></h6>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fa fa-genderless fa-2x" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            <h6><strong><a href="~/Race/AddRace">Race</a></strong></h6>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fa fa-genderless fa-2x" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            <h6><strong><a href="~/Disability/AddDisability">Disability</a></strong></h6>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fa fa-wheelchair fa-2x" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            <h6><strong><a href="~/MaritalStatu/AddMaritalStatus">Marital Status</a></strong></h6>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fa fa-heart fa-2x" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            <h6><strong><a href="~/Education/AddEducation">Education</a></strong></h6>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fa fa-building fa-2x" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            <h6><strong><a href="~/Relationship/AddRelationship">Relatation</a></strong></h6>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fa fa-user fa-2x" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            <h6><strong><a href="~/IncomeSource/AddIncomeSource">Income Source</a></strong></h6>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fa fa-credit-card fa-2x" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            <h6><strong><a href="~/WorkType/AddWorkType">Work Type</a></strong></h6>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fa fa-credit-card fa-2x" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

<h2>Address Details</h2>

<div class="row">

    <div class="row">
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                <h6><strong><a href="~/Country/AddCountry">Country</a></strong></h6>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-globe fa-2x" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            <h6><strong><a href="~/Province/AddProvince">Province</a></strong></h6>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fa fa-file fa-2x" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            <h6><strong><a href="~/Ward/AddWard">Ward</a></strong></h6>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fa fa-genderless fa-2x" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            <h6><strong><a href="~/Section/AddSection">Section</a></strong></h6>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fa fa-check-square fa-2x" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<h2>Property Details</h2>

<div class="row">
    <div class="row">
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                <h6><strong><a href="~/Property/PropertyAge">Property Age</a></strong></h6>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-globe fa-2x" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                <h6><strong><a href="~/Property/PropertyStatus">Property Status</a></strong></h6>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-folder-open fa-2x" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                <h6><strong><a href="~/Property/PropertyType">Property Type</a></strong></h6>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-hourglass-start fa-2x" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                <h6><strong><a href="~/ApplicantFilling/AddFillingCriteria">Filling Criteria</a></strong></h6>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-folder-open fa-2x" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                <h6><strong><a href="~/Case/AddCaseStatus">Case Status</a></strong></h6>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-hourglass-start fa-2x" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                <h6><strong><a href="~/Case/AddCaseType">Case type</a></strong></h6>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-file fa-2x" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*Row 2*@

    <div class="row">
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                <h6><strong><a href="~/Clan/AddClan">Clan</a></strong></h6>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-user fa-2x" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                <h6><strong><a href="~/Condition/AddCondition">Condition</a></strong></h6>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-check-square fa-2x" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                <h6><strong><a href="~/Court/CourtTypes">Court</a></strong></h6>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-university fa-2x" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

    @*Row 3*@

    <div class="row">
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                <h6><strong><a href="~/Dispute/AddDisputeType">Dispure Type</a></strong></h6>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-flag fa-2x" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>






    </div>

    @*Row 4*@

    <div class="row">
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                <h6><strong><a href="~/LivingQuarter/AddLivingQuarter">Living Quarter</a></strong></h6>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-home fa-2x" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                <h6><strong><a href="~/Payment/AddPaymentFor">Payment For</a></strong></h6>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-credit-card fa-2x" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                <h6><strong><a href="~/Payment/AddPaymentType">Payment Type</a></strong></h6>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-money" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
