
@{
    ViewBag.Title = "SettingsTwo";
}

<h2>ADD</h2>
<div class="row">
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            <h6><strong><a href="~/Property/PropertyAge">Property Age</a></strong></h6>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fa fa-globe fa-2x" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            <h6><strong><a href="~/Property/PropertyStatus">Property Status</a></strong></h6>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fa fa-folder-open fa-2x" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            <h6><strong><a href="~/Property/PropertyType">Property Type</a></strong></h6>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fa fa-hourglass-start fa-2x" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            <h6><strong><a href="~/Province/AddProvince">Province</a></strong></h6>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fa fa-file fa-2x" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*Row 2*@

<div class="row">
    

    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            <h6><strong><a href="~/Section/AddSection">Section</a></strong></h6>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fa fa-check-square fa-2x" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            <h6><strong><a href="~/SettlementHierachy/AddSettlementHierachy">Settlement Hierarchy</a></strong></h6>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fa fa-university fa-2x" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            <h6><strong><a href="~/TenureStatus/AddTenureStatus">Tenure Status</a></strong></h6>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fa fa-wheelchair fa-2x" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*Row 3*@

<div class="row">
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            <h6><strong><a href="~/Tribe/AddTribe">Tribe</a></strong></h6>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fa fa-flag fa-2x" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    

    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            <h6><strong><a href="~/Ward/AddWard">Ward</a></strong></h6>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fa fa-genderless fa-2x" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            <h6><strong><a href="~/WorkType/AddWorkType">Work Type</a></strong></h6>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fa fa-credit-card fa-2x" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

